.btn-primary {
	background-color: #ff8800;
	color: #FFF;
	border-color: transparent;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}
.btn-primary:hover {
	background-color: #FFD8AD;
	border-color: transparent;
}
