/*CARD*/
.card { border: 1px solid #d4d4d4; height: 410px;position: relative; background-color: #FFF;}

.card.emerald { color: #7dc0ae; }
.card.brown { color: #cdaa81; }
.card.coral { color: #ff4081; }
.card.emerald .card-plus-btn { background-color: #7dc0ae; }
.card.brown .card-plus-btn { background-color: #cdaa81; }
.card.coral .card-plus-btn { background-color: #ff4081; }
.card.emerald .card-plus-btn:hover, .card.emerald .card-plus-btn:focus {background-color: #5D9082;}
.card.brown .card-plus-btn:hover, .card.brown .card-plus-btn:focus {background-color: #967C5E;}
.card.coral .card-plus-btn:hover, .card.coral .card-plus-btn:focus {background-color: #98615A;}
.card.emerald .icon.social { color: #7dc0ae; }
.card.brown .icon.social { color: #cdaa81; }
.card.coral .icon.social { color: #ff4081; }

.card-social-links>a:not(:last-of-type) { margin-right: 5px; }

.card-head { display: block; }
.card-image { width: 100%; height: 172px; }
.card-body { padding: 5px; }
.card-date { font-size: 1.2em; }
.card-title { margin: 10px 0;font-weight: 700 !important; display: block;}
.card-title:hover,.card-title:focus { color: inherit; text-decoration: underline;}
.card-text { color: #68696D; }
.card-actions { position: absolute; width: 100%; left: 0; bottom: 0;padding: 5px;}
.card-plus-btn {display: block;color: #FFF;width: 25px;height: 25px;font-size: 30px;line-height: 25px;text-align: center;border-radius: 3px;font-weight: 300;position: absolute;bottom: 0;right: 0;margin: 5px;}
.card-plus-btn:hover, .card-plus-btn:focus { color: #FFF; text-decoration: none; }

@media(min-width: 768px) and (max-width: 1031px) {
	.card {padding-left: 52%;padding-top: 10px;height: 190px; margin-bottom: 10px;}
	.card-head { position: absolute; left: 0; top: 0; width: 50%; height: 100%; }
	.card-image { height: 100%; }
	.card-actions {width: 48%; right: 0; left: auto;bottom: 3px;}
	.card-text { display: none; }
	.card-title { font-size: 30px; }
}

@media(max-width: 767px) {
	.card { height: auto; }
	.card-body { height: 230px; }
	.card-image { height: 100%; position: absolute; top: 0; left: 0; }
}