@media(max-width: 1031px) {
	.bg-discover { background-size: 500px auto; }
}
@media(max-width: 767px) {
	.bg-discover { background-size: 280px auto; }
}

/* MAIN IMAGE */
.main-image { overflow: hidden; position: relative; }
.main-image iframe {position: absolute;left: 50%;margin-left: -800px;}
@media(max-width: 1031px) {
	.main-image { height: 40px; }
	.main-image iframe {margin-left: -512px;}
}
@media(max-width: 801px) {
		.main-image iframe {margin-left: -384px;}
}
@media(max-width: 767px) {
	.main-image { height: 266px; }
	.main-image iframe {margin-left: -200px;}
}
@media(max-width: 601px) {
	.main-image { height: 266px; }
	.main-image iframe {margin-left: -300px;}
}
@media(min-width: 1032px) {
	.main-image { margin-top: -104px; }
}
@media(max-width: 414px) {
	.main-image { height: 266px; }
	.main-image iframe {margin-left: -188px;}
}

/* FIXED TOGGLE */
.fixed-layout>.fixed-toggle { position: fixed; z-index: 100001; top: 0; left: 0; width: 100%; }
.fixed-layout>.breadcrumb { top: 46px;}

/* SLIDER */
.slider-item {-webkit-transition: left 600ms ease-out; -moz-transition: left 600ms ease-out; -ms-transition: left 600ms ease-out; -o-transition: left 600ms ease-out; transition: left 600ms ease-out;}
.indicators {text-align: center;}
.indicators-space { position: relative; padding-bottom: 60px; }
.indicators-space.clear-indicators-space { padding-bottom: 0; }
.indicators-space>.indicators { position: absolute; width: 100%; height: 60px; left: 0; bottom: 0; text-align: center; padding-top: 21px; }
.indicators-space.clear-indicators-space>.indicators { display: none; }
.indicators a { display: inline-block; background-color: #606266; width: 18px; height: 18px; border-radius: 50%; vertical-align: middle; }
.indicators a.active { background-color: #FFF; border: 5px solid #A3E186; }
.indicators a:not(:last-of-type) { margin-right: 5px; }
.indicators-space.tight { padding-bottom: 20px; }
.indicators-space.tight>.indicators { height: 20px; padding-top: 11px; }
.indicators-space.tight>.indicators a { width: 14px; height: 14px; }

@media(max-width: 767px) {
	.indicators-space-xs { position: relative; padding-bottom: 60px; }
	.indicators-space-xs.clear-indicators-space { padding-bottom: 0; }
	.indicators-space-xs.clear-indicators-space>.indicators { display: none; }
	.indicators-space-xs>.indicators { position: absolute; width: 100%; height: 60px; left: 0; bottom: 0; text-align: center; padding-top: 21px; }
}
@media(min-width: 768px) {
	.indicators-space-xs>.indicators { display: none; }
}

/* MODALS */
.modal-header { text-align: center; }
.modal .form-control { border: 1px solid #e5e5e5; }
.modal a:not(.btn) {color: #ff4081;}

/* LINK CIRCLE */
.link-circle { display: inline-block; height: 1.5em; width: 1.5em;background-color: #ff4081; border-radius: 50%; text-align: center; line-height: 1.5em; color: #FFF; margin: 0 .2em;}
.link-circle:focus,.link-circle:hover { color: #FFF; text-decoration: none;background-color: #ff4081;}
.link-circle.lavanda { background-color: #c99ad4; }
.link-circle-sm { font-size: 0.7em; vertical-align: .1em; }

/* TRANSPARENT LAYER */
.transparent-layer { display: none; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,0.7); }

/* PRICE RANGE */
.price-range { font-family: 'Raleway', sans-serif;font-weight: 600;}
.price-range i { color: #000; font-style: normal; }
.price-range-0>i { color: #999; }
.price-range-25>i:nth-child(n+2) { color: #999; }
.price-range-50>i:nth-child(n+3) { color: #999; }
.price-range-75>i:nth-child(4) { color: #999; }

/* PERCENT BAR */
.percent-bar { background-color: #dfdfdf; height: 4px; margin: 3px 0; text-align: left; line-height: 0; }
.percent-bar>span { background-color: #A3E186; height: 4px; display: inline-block; }

/* FILTER MENU */
.filter-menu { display: none; position: absolute; background-color: #FFF; z-index: 99; width: 100%; left: 0; top: 100%; text-align: left; color: #68696d; box-shadow: 0px 0px 10px 1px #4E4E4E; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;padding: 15px 15px;}
.filter-menu.floated { width: auto; min-width: 170px; }
.filter-menu a { color: inherit; display: inline-block; padding: 10px 15px; }
.filter-menu ul { margin: 0 auto; max-width: 1199px; }
.filter-menu:not(.floated) ul { -moz-column-count: 5; -moz-column-gap: 10px; -webkit-column-count: 5; -webkit-column-gap: 10px; column-count: 5; column-gap: 10px; }
.filter-menu ul div.checkbox { padding: 6px 0; }
.filter-menu .close { display: none; }

@media(max-width: 1031px) {
	.filter-menu:not(.floated) ul {-moz-column-count: 3; -moz-column-gap: 10px;-webkit-column-count: 3; -webkit-column-gap: 10px;column-count: 3; column-gap: 10px;}
}
@media(max-width: 767px) {
	.filter-menu:not(.floated) ul { -moz-column-count: 2; -moz-column-gap: 4px; -webkit-column-count: 2; -webkit-column-gap: 4px; column-count: 2; column-gap: 4px; }
	.filter-menu .close { display: block; position: fixed; top: 15px; right: 15px; padding: 5px 9px; z-index: 9999;}
	.filter-menu { position: fixed; margin: 15px; width: calc(100% - 30px); top: 0; max-height: calc(100% - 30px); border-radius: 5px; overflow: auto; }
}
@media(max-width: 400px) {
	.filter-menu:not(.floated) ul { -moz-column-count: 1; -moz-column-gap: initial; -webkit-column-count: 1; -webkit-column-gap: initial; column-count: 1; column-gap: initial; }
}

/* INFO WINDOW */
.info-window {}
.info-window-title { margin: 0; background-color: #93C271; color: #FFF; font-family: 'Open Sans', sans-serif; padding: 10px 5px 6px; font-size: 18px; font-weight: 500; }
.info-window-image { position: relative; padding-bottom: 56.5%; margin-bottom: 5px; }
.info-window-image img { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }
.info-window-body { color: #444; margin-bottom: 20px; }

/* PAGE-TITLE */
.page-title {background-color: #2d2d2d;color: FFF; padding: 12px 0; -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);}
.page-title h1,.page-title h2,.page-title h3,.page-title h4,.page-title h5,.page-title h6 { margin: 0; font-weight: 700; font-size: 32px; }
.page-title span { font-weight: 400; }
.page-title .social-links { float: right;margin: 15px 0 0;}
.page-title .link-circle {width: 38px;height: 36px; font-size: 22px;line-height: 38px;margin: -5px 4px;vertical-align: 2px;}
.page-title-title h1 { display: inline; }
@media(max-width: 767px) {
	.page-title .breadcrumb { display: none; }
	.page-title .social-links {margin: 0;}
	.page-title .social-links .icon.social {height: 25px;width: 25px;font-size: 13px;line-height: 23px;}
	.page-title .social-links .icon.social.whatsapp:before {
    font-size: 14px;
}
	.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 { font-size: 20px; font-weight: 600; }
	.page-title .link-circle { width: 23px; height: 22px; font-size: 12px; line-height: 24px; }
}

/* PAGE-SUBTITLE */
.page-subtitle { -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);padding: 10px 0;}
.page-subtitle:not(.bg-primary) { background-color: #FFF; color: #000; }
.page-subtitle h3 { margin: 3.5px 0; }
.page-subtitle h4 { margin: 7px 0; }
.page-subtitle .link-circle { margin: -12px 10px -8px; }
@media(max-width: 1031px) {
	.page-subtitle h1, .page-subtitle h2, .page-subtitle h3, .page-subtitle h4, .page-subtitle h5, .page-subtitle h6 { max-width: 490px; text-align: center; margin-left: auto; margin-right: auto; line-height: 1.3; }
	.page-subtitle .link-circle { position: absolute; top: 50%; margin: -0.75em 15px 0; right: 0; }
	.page-subtitle .container { position: relative; }
}
@media(max-width: 767px) {
	.page-subtitle h1, .page-subtitle h2, .page-subtitle h3, .page-subtitle h4, .page-subtitle h5, .page-subtitle h6 { text-align: left; max-width: calc(100% - 30px); margin: 7px 0; font-size: 16px; }
}

@media (max-width: 860px) {
  .modalCTA img {
    display: none;
  }
  .modalCTA .modal-dialog {
      width: inherit;
  }
  .modalCTA .modal-title {
      margin-top: 20px;
  }
}

.button_link {
    background: none;
    border: none;
    padding: 0;
    color: #3d81a4;
}
.button_link:hover {
    background: none;
    color: #A7D077;
}

.charCount {
    float: left;
    font-size: 14px;
    color: #68696d;
    line-height: 34px;
}
@media(max-width: 460px) {
	.charCount { font-size: 12px; }
}

.follow {
	max-width: 300px;
}

.od-title {
	background-color: #ffa700;
    color: FFF;
    padding: 12px 0 3px 0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}
.od-title-title {
    float: right;
}

.logo-od {
    height: 50px;
}

.btn-delivery {
    margin-top: 12px;
    color: #ffa700 !important;
    background-color: #FFF !important;
    border-color: transparent;
}

.btn-delivery:hover {
    color: #FFF !important;
    background-color: #ffa700 !important;
    border-color: #FFF;
}

@media(max-width: 460px) {
    .od-title-title {
        float: none;
    }
    .li-pedi-ahora {
        float: right;
    }
    .btn-delivery {
        margin-top: 9px;
    }
}
