footer { text-align: center; color: #919191; }
footer .icon.social { color: #919191; }
.footer-actions { background-color: #C0D5EB; }
.footer-legend { background-color: #3C454F; padding: 15px 0; }
.footer-actions {padding: 30px 0 40px;}
.footer-actions h6 { margin-bottom: 30px; }
.footer-actions ul { margin-bottom: 30px; }
.footer-actions .icon.social+a.link-store { margin-left: 20px; margin-right: 10px; }

@media(max-width: 1031px) {
	.footer-actions .list-inline>li { display: block; margin-bottom: 10px; }
	.footer-actions ul.list-inline { margin-bottom: 20px; }
	.footer-actions .icon.social+a.link-store:before { content: ''; display: block; height: 14px; width: 100%; }
	.footer-actions .icon.social+a.link-store { margin-left: 0; }
	.footer-image { background-position: -70px center; height: 270px; }
}