.form-control { font-family: 'Open Sans', sans-serif; border: none; height: 32px; }
.form-control-border .form-control { border: 1px solid #e5e5e5; }
textarea.form-control { resize: none; padding: 12px; }

label.error { font-weight: 400; margin: 2px 13px 0; color: #E39489; }

.checkbox, .radio { margin: 0; }
.checkbox label, .radio label { padding-left: 0; }

.checkbox input[type=checkbox] { display: none; }
.checkbox input[type=checkbox] + span { position: relative; display: inline-block; padding-left: 30px;padding-top: 2px;}
.checkbox input[type=checkbox] + span:before { content: ''; display: inline-block; position: absolute; top: 0; left: 0;width: 22px;height: 22px;border: 1px solid #e0e0e1;background-color: #f8f8f8;background-repeat: no-repeat;background-position: 1px 4px;}
.checkbox input[type=checkbox]:checked + span:before { background-image: url(../img/checkbox.png); }
.checkbox input[type=checkbox] + span a { padding: 0; display: inline; margin: 0; color: inherit; }

.radio input[type=radio] { display: none; }
.radio input[type=radio] + span { position: relative;padding-left: 27px;padding-top: 2px;}
.radio input[type=radio] + span:before, .radio input[type=radio] + span:after { content: ''; display: inline-block; position: absolute; top: 0; left: 0;}
.radio input[type=radio] + span:before { width: 20px; height: 20px; border-radius: 10px; border: 2px solid; }
.radio input[type=radio] + span:after {width: 10px;height: 10px;border-radius: 5px; margin: 5px;}
.radio input[type=radio]:checked + span:before { border-color: #A3E186; }
.radio input[type=radio]:checked + span:after { background-color: #A3E186; }
.radio-sm input[type=radio] + span { padding-left: 25px; }
.radio-sm input[type=radio] + span:before { width: 16px; height: 16px; border-radius: 8px; margin: 2px; }
.radio-sm input[type=radio] + span:after { width: 8px; height: 8px; border-radius: 4px; margin: 6px; }

.primary-form { background-color: #A3E186; padding: 15px; margin: 0; }
.primary-form .form-actions { text-align: right;}
.primary-form .form-actions .btn { padding-left: 30px; padding-right: 30px; }
.form-actions-photo { padding: 6px 12px !important; font-size: 20px; }

form .form-group+h1,form .form-group+h2,form .form-group+h3,form .form-group+h4,form .form-group+h5,form .form-group+h6 { margin-top: 50px; }

.form-control-line { border: none; -webkit-box-shadow: none; box-shadow: none; border-bottom: 2px solid #d5d5d5; border-radius: 0;padding: 6px;font-size: 16px;}
.form-control-line.coral { border-color: #ff4081; }
.form-control-line:focus { -webkit-box-shadow: none; box-shadow: none; border-color: #A3E186; }
.form-control-line+label.error { margin: 2px 2px 0; }
.focus-label label:not(.text-label):not(.error) {color: #b5b4b4;font-family: 'Open Sans', sans-serif;font-weight: 600;}
.focus-label label:not(.text-label):not(.error).focus { color: #A3E186; }

.form-horizontal .form-group { margin-right: -5px; margin-left: -5px; }
.form-horizontal .form-group:last-child { margin-bottom: 0; }
.form-horizontal .form-group>div { padding-right: 5px; padding-left: 5px; }

@media(max-width: 767px) {
	.form-horizontal .form-group { margin-bottom: 0; }
	.form-horizontal .form-group:not(:last-child)>div { margin-bottom: 10px; }
}

/* BOOKING CONFIRMATION 1 */
form.booking-confirmation-1 {margin-bottom: 0;}
form.booking-confirmation-1 .form-group:last-of-type { margin-top: 20px; }
@media(min-width: 768px) {
	form.booking-confirmation-1 .form-group:last-of-type { margin-top: 50px; }
}
@media(min-width: 1032px) {
	form.booking-confirmation-1 .form-group:last-of-type {width: 50%;margin: 40px auto  0px;}
}

/* FORM REVIEW */
.form-review-labels h4 {margin: 0;}
.form-review-recommended-for div.checkbox span img { margin: -10px 10px 10px 0px; }
.form-review-price-range div.radio { font-size: 1.1em; }
.form-review-price-range div.radio:not(:last-child) { margin-bottom: 15px; }
@media(min-width: 1032px) {
	.form-review .form-group:not(.form-review-actions) { padding-left: calc(33.33% + 5px); position: relative; }
	.form-review-labels { position: absolute; left: 0; height: 100%; }
}
@media(max-width: 1031px) {
	.form-review-labels { margin-bottom: 20px; }
}
@media(max-width: 767px) {
	.form-review .input-group.date { max-width: 170px; }
	.form-review-price-range div.radio { margin-bottom: 5px !important; }
	.form-review .rater { margin-bottom: 20px; }
	.form-review .form-group>:last-child .rater { margin-bottom: 0; }
	.form-review-actions .checkbox { margin-bottom: 20px; }
	.form-review-actions button { max-width: 230px; margin: 0 auto; }
}