.main-container {
  top: 128px;
   background: url("../img/bg-morfar.jpg");
}
.main-image {
  margin-top: 0;
 
}
.dropdown-brand .dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #353535;
  left: -70px;
}
.dropdown-brand .dropdown-menu a {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  padding: 0 30px;
  line-height: 65px;
  height: 65px;
  position: relative;
  padding-left: 55px;
}
.dropdown-brand-bullet {
  position: absolute;
  background: no-repeat;
  background-size: initial;
  background-position: center center;
  width: 30px;
  height: 100%;
  left: 15px;
}
a.dropdown-brand-link:hover.delivery, a.dropdown-brand-link.active.delivery {
  background-color: #ffa700;
}
a.dropdown-brand-link:hover.gift, a.dropdown-brand-link.active.gift {
  background-color: #ddbf76;
}
a.dropdown-brand-link:hover, a.dropdown-brand-link.active {
  color: #FFF !important;
}
.header-user-icon img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.radio input[type=radio] + span:after {
  content: none;
}
.radio input[type=radio] + span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  border: none;
  background-color: #FFF;
  color: #ccc;
  padding: 4px 0 0;
  font-size: 12px;
}
.radio input[type=radio]:checked + span {
  color: #ff8800;
}
.radio input[type=radio]:checked + span:before {
  background-color: #ff8800;
  color: #FFF;
  border: none;
}
.search-box {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}
.search-box .form-control {
  width: 100%;
  border: none;
  border-radius: 0;
  height: 40px;
  padding: 6px 8px;
}
.search-box button[type="submit"] {
  height: 40px;
  border-radius: 0;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
}
.search-box-form {
  background-color: #000;
  color: #FFF;
  padding: 30px 15px;
}

.result-box-form {
  background-color: #000;
  color: #FFF;
  padding: 10px 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.search-box-form .radio > label {
  margin: 0 10px;
}
.search-box-actions {
  margin: 20px 0;
}

.search-box-actions .row {
  margin-left: -5px;
  margin-right: -5px;
}

.search-box-actions .row > div {
  padding-left: 5px;
  padding-right: 5px;
}
.rotate-tablet {
  text-align: center;
}

@media (max-width: 1031px) {
  
  header {
    height: 105px;
  }
  
  header .brand {
    position: absolute;
    height: 88px !important;
  }
  
  header .brand img {
    height: 100%;
    width: auto;
  }
  
  header .menu-trigger {
    margin-top: 37px;
  }
  
  header .navigation-container {
    top: 163px;
    left: 0;
    height: calc(100% - 163px);
  }
  .dropdown-brand {
    display: none;
  }
  .main-container {
    top: 163px;
  }

  .search-box {
    margin: 0 0 40px 0;
    background-color: #1e1e1e;
  }
  .search-box .container {
    padding: 0;
  }
  .radio input[type=radio] + span {
    padding: 0;
    text-align: center;
    display: inline-block;
  }
  .radio input[type=radio] + span:before {
    position: relative;
  }
  .radio input[type=radio] + span > span {
    display: block;
    margin-top: 5px;
  }

  
  .search-box-actions {
    margin: 10px 0;
  }
  
  .search-box-actions .row > div {
    margin-bottom: 10px;
  }

  
  .search-box-form {
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  
  header {
    height: 60px;
  }
  
  header .brand {
    height: 45px !important;
  }
  
  header .menu-trigger {
    margin: 20px 20px 0;
  }
  
  header .navigation-container {
    left: 0;
    top: 100px;
    height: calc(100% - 100px);
  }

  .header-banner {
    height: 40px;
  }

  .main-container {
    top: 60px;
  }
}

@media(min-width: 768px) and (max-width: 1031px) {
  .childs-sm-1 > div:nth-child(n+2) {
    display: none;
  }
  .fix-fit-to-banner > div:nth-child(1) {
    width: 352px;
    margin-left: 34px;
  }
  .fix-fit-to-banner > div:nth-child(2) {
    width: 330px;
  }
}
@media(min-width: 1032px) {
  .childs-md-2 > div:nth-child(n+3) {
    display: none;
  }
}

.indicators-top-right .indicators {
  position: absolute;
  top: 0;
  right: 15px;
  margin: 8px 10px;
  line-height: 12px;
}

.indicators-alt a {
  background-color: #FFF;
  width: 12px;
  height: 12px;
}

.indicators-alt a.active {
  background-color: #A3E186;
  border: none;
}

.box.transparent .box-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
}

.content-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-30 .container > hr:first-child {
  margin-bottom: 30px;
  margin-top: 0;
  border-top: 5px solid #e5e5e5;
}

.rating-box {
  display: block;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #FFF;
}

.rating-box:hover {
  color: #FFF;
}

.rating-box-tr {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff4081;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  margin: 10px;
  z-index: 1;
}

.rating-box-title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin: 0;
  padding: 90px 5px 70px;
  position: relative;
  z-index: 1;
  max-height: 184px;
}

.rating-box-points {
  position: relative;
  z-index: 1;
}

.rating-box-points:before, .rating-box-points:after {
  content: ' ';
  display: table;
}

.rating-box-points:after {
  clear: both;
}

.rating-box-point {
  float: left;
  width: 33.33%;
  padding: 5px 5px 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
}

.rating-box-circle {
  padding-bottom: 100%;
  position: relative;
}

.rating-box-circle > * {
  position: absolute;
}

.rating-box-circle canvas {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.rating-box-circle > span {
  width: 100%;
  text-align: center;
  top: calc(50% - 26px);
  font-size: 32px;
  font-weight: 600;
  left: 0;
}

.rating-box-circle > span > small {
  font-size: .4em;
  vertical-align: middle;
  margin-left: 3px;
}

.rating-box-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
}

.comment-box {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.24);
}

.comment-box-user {
  display: block;
  position: relative;
  height: 120px;
  padding-left: 125px;
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
}

.comment-box-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 15px;
}

.comment-box-badge {
  position: absolute;
  width: 36px;
  height: auto;
  left: 80px;
  top: 55px;
}

.comment-box-date {
  padding: 0 15px;
  font-size: 14px;
  color: #ababab;
}

.comment-box-text {
  padding: 5px 15px;
  margin: 0 0 5px;
  color: #000;
}

@media(min-width: 768px) {
  .comment-box-text {
    height: 100px;
  }
}

@media(min-width: 1032px) {
  .comment-box-text {
    height: 90px;
  }
}

.comment-box-footer {
  position: relative;
  color: #FFF;
  background-color: #40cbff;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  padding-left: 60px;
}

.comment-box-footer-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: calc(50% - 17.5px);
}

section.email-offers {
  background-color: #a7d177;
  color: #FFF;
  margin: 10px 0 0 0;
  padding: 20px 0;
}

section.email-offers .form-control {
  height: 36px;
  border-radius: 0;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.22);
}

section.email-offers button[type="submit"] {
  background-color: #ff4081;
  border-radius: 0;
  height: 36px;
  padding: 0;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.22);
}

section.email-offers p {
  text-align: center;
  margin: 20px 0 0;
  font-size: 12px;
}

.email-offers-title {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
}

@media(max-width:767px) {
  .email-offers-title {
    font-size: 17px;
  }
}

.cover-box {
  display: block;
  overflow: hidden;
}

.cover-box img {
  width: 100%;
  height: auto;
}

.autoflow {
  overflow: auto;
}

@media (max-width: 767px) {
  
  section.email-offers p {
    margin: 0 0 20px;
  }

  
  .cover-box {
    margin-top: 15px;
  }

  
  .mb-xs-15 {
    margin-bottom: 15px;
  }
}

.bootstrap-select.form-control {
  padding: 0;
}

.bootstrap-select.form-control .dropdown-toggle.btn-default {
  color: inherit;
  background-color: inherit;
}

.bootstrap-select.form-control.open > .dropdown-toggle.btn-default:hover, .bootstrap-select.form-control.open > .dropdown-toggle.btn-default.focus, .bootstrap-select.form-control.open > .dropdown-toggle.btn-default:focus {
  color: inherit;
  background-color: inherit;
}

.bootstrap-select.form-control > button {
  color: inherit;
  background-color: inherit;
  display: block;
  padding: 6px 8px;
  padding-right: 25px;
  height: 100%;
  line-height: inherit;
  border: none;
  border-radius: 0;
}

.bootstrap-select.form-control .dropdown-menu {
  border-radius: 0;
  padding-top: 0;
}

.bootstrap-select.form-control .dropdown-toggle:focus {
  outline: none !important;
}

.bs-searchbox {
  background-color: #fafafa;
  padding: 0;
  padding-left: 35px;
  padding-right: 30px;
  position: relative;
}

.bs-searchbox .form-control {
  background: inherit;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bs-searchbox:before, .bs-searchbox:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 18px;
}

.bs-searchbox:before {
  left: 0;
  width: 35px;
  content: '\f002';
  padding-right: 5px;
  text-align: right;
}

.bs-searchbox:after {
  right: 0;
  width: 30px;
  content: '\f00d';
  cursor: pointer;
  padding-left: 5px;
  text-align: left;
}

@media (min-width: 768px) {
  
  .col-space-sm-8 {
    margin-left: -8px;
    margin-right: -8px;
  }
  
  .col-space-sm-8 > div {
    padding-left: 8px;
    padding-right: 8px;
  }

  
  .h-sm-228 {
    height: 228px;
  }
}
@media (min-width: 1032px) {
  
  .col-space-md-15 {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .col-space-md-15 > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  
  .h-md-auto {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1031px) {
  
  .rating-box-title {
    padding: 70px 5px 50px;
    max-height: 144px;
    font-size: 20px;
  }

  
  .rating-box-circle > span {
    font-size: 24px;
    top: calc(50% - 18px);
  }



  }
}