.icon { display: inline-block; vertical-align: middle; }
.icon.social {height: 34px;width: 34px;border-radius: 17px;border: 2px solid; color: #FFF;display: inline-block; font: normal normal normal 14px/1 FontAwesome;font-size: 17px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;text-align: center;line-height: 32px;}
.icon.social.black { color: #898989; }
.icon.social.marker:before { content: "\f041"; }
.icon.social.facebook:before { content: "\f09a"; }
.icon.social.twitter:before { content: "\f099"; }
.icon.social.instagram:before { content: "\f16d"; }
.icon.social.whatsapp:before { content: "\f232"; font-size: 18px; }
.icon.social.heart:before { content: "\f004"; }
.icon.social.heart-active:before { content: "\f004"; }
.icon.social.heart-active { color: #cf9186; }
.icon.social.marker:hover, .icon.social.marker:focus { color: #fff !important; }
.icon.social.facebook:hover, .icon.social.facebook:focus { color: #fff !important; }
.icon.social.twitter:hover, .icon.social.twitter:focus { color: #FFF !important; }
.icon.social.whatsapp:hover, .icon.social.whatsapp:focus { color: #fff !important; }
.icon.social.instagram:hover, .icon.social.instagram:focus { color: #fff !important; }
.icon.social.heart:hover, .icon.social.heart:focus { color: #fff !important; }