body { font-family: 'Raleway', sans-serif; color: #68696d; }
body.disable-scroll { overflow: hidden; }
@media(max-width: 767px) {
	body.disable-scroll-xs { overflow: hidden; }
}

a { color: #ff8800; }
a:focus, a:active { outline: none; }
a:focus, a:hover { text-decoration: none; color: #FFD8AD; }

.font-raleway { font-family: 'Raleway', sans-serif; }
.font-sans { font-family: 'Open Sans', sans-serif; }
.font-sunrise { font-family: 'Waiting for the Sunrise', cursive; font-weight: 400; }

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { font-weight: 300; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 0; margin-bottom: 20px; }

h1, .h1 { font-size: 40px; }
h2, .h2, .title-2 { font-size: 28px; }
.title-3 {font-size: 24px;}
.title-4 {font-size: 18px;}
.font-sunrise h3, h3.font-sunrise { font-size: 40px; font-weight: 400; }

em { color: #A3E186; font-style: normal; }

.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.text-primary { color: #A3E186 !important; }
.text-emerald { color: #7DC0AE !important; }
.text-lavanda { color: #c99ad4 !important; }
.text-blue { color: #A4DAE0 !important; }
.text-brown { color: #B6A180 !important; }
.text-coral { color: #ff4081 !important; }
.text-grey { color: #999999 !important; }
.text-dark-grey { color: #68696d !important; }
.text-inherit {color: inherit;}
.text-white {color: #ffffff;}
.links-coral a:not(.btn) {color: #ff4081;}

@media(max-width: 767px) {
	.text-xs-center {text-align: center !important;}
	.center-block-xs { margin-left: auto !important; margin-right: auto !important;}
}

.fs-4 { font-size: 4em;}

.absolute { position: absolute; }
.relative { position: relative; }
.clear-float:before, .clear-float:after { content: ' '; display: table; }
.clear-float:after { clear: both; }
.clear-both { clear:both; }

.mtop-12 { margin-top: 12px }
.mtop-15 { margin-top: 15px }
.mtop-24 { margin-top: 24px }
.mbot-15 { margin-bottom: 15px }
.mbot-12 { margin-bottom: 12px }
.mbot-24 { margin-bottom: 24px }
.pleft-0 { padding-left: 0px }
.pad-right-15 { padding-right: 15px }
.pad-bot-12 { padding-bottom: 12px }
.pad-right-0 { padding-right: 0px }
.max-width-400 { max-width: 400px; }
.border-white-1 {border: 1px solid #FFF;}
.center { text-align: center; }
.pointer { cursor: pointer; }
.inline{display: inline-block;}
.fLeft{ float:left; }
.fRight{ float:right; }
.rating-color{color: #000;}

.clearfix-xs, .clearfix-sm, .clearfix-md, .clearfix-lg { display: none; }
@media(max-width: 767px) {
	.clearfix-xs { display: block; }
	.clearfix-xs:before, .clearfix-xs:after { content: ' '; display: table; }
	.clearfix-xs:after { clear: both; }
}
@media(min-width: 768px) and (max-width: 1031px) {
	.clearfix-sm { display: block; }
	.clearfix-sm:before, .clearfix-sm:after { content: ' '; display: table; }
	.clearfix-sm:after { clear: both; }
}
@media(min-width: 1032px) and (max-width: 1199px) {
	.clearfix-md { display: block; }
	.clearfix-md:before, .clearfix-md:after { content: ' '; display: table; }
	.clearfix-md:after { clear: both; }
}
@media(min-width: 1200px) {
	.clearfix-lg { display: block; }
	.clearfix-lg:before, .clearfix-lg:after { content: ' '; display: table; }
	.clearfix-lg:after { clear: both; }
}

img.cover { width: 100%; height: auto; }
img.cover-max { max-width: 100%; height: auto; }
img.cover-fill {width: 100%; height: 100%;}
img.cover-y {height: 100%; width: auto;}

.step-up-shadow { -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); position: relative; z-index: 9999; }

.max-xs-X-220 { max-width: 220px; }
.max-xs-X-260 { max-width: 260px; }
.max-xs-X-300 { max-width: 300px; }
@media(min-width: 768px) {
	.max-sm-X-none { max-width: none; }
}

.vertical-align { display: table; width: 100%; height: 100%;}
.vertical-align>.middle {display: table-cell; vertical-align: middle;}

.v-align-middle { vertical-align: middle; }


.list-xs-2 { -moz-column-count: 2; -moz-column-gap: 10px; -webkit-column-count: 2; -webkit-column-gap: 10px; column-count: 2; column-gap: 10px; }
.list-xs-3 { -moz-column-count: 3; -moz-column-gap: 10px; -webkit-column-count: 3; -webkit-column-gap: 10px; column-count: 3; column-gap: 10px; }
@media(min-width: 768px) {
	.list-sm-2 { -moz-column-count: 2; -moz-column-gap: 10px; -webkit-column-count: 2; -webkit-column-gap: 10px; column-count: 2; column-gap: 10px; }
	.list-sm-3 { -moz-column-count: 3; -moz-column-gap: 10px; -webkit-column-count: 3; -webkit-column-gap: 10px; column-count: 3; column-gap: 10px; }
}
@media(min-width: 1032px) {
	.list-md-2 { -moz-column-count: 2; -moz-column-gap: 10px; -webkit-column-count: 2; -webkit-column-gap: 10px; column-count: 2; column-gap: 10px; }
	.list-md-3 { -moz-column-count: 3; -moz-column-gap: 10px; -webkit-column-count: 3; -webkit-column-gap: 10px; column-count: 3; column-gap: 10px; }
}
@media(min-width: 1200px) {
	.list-lg-2 { -moz-column-count: 2; -moz-column-gap: 10px; -webkit-column-count: 2; -webkit-column-gap: 10px; column-count: 2; column-gap: 10px; }
	.list-lg-3 { -moz-column-count: 3; -moz-column-gap: 10px; -webkit-column-count: 3; -webkit-column-gap: 10px; column-count: 3; column-gap: 10px; }
}

.tall-xs-60 { height: 60px !important; }
.tall-xs-140 { height: 140px; }
.tall-xs-250 { height: 250px; }
.tall-xs-208 { height: 208px; }
.tall-xs-300 { height: 300px; }
.tall-xs-500 { height: 500px; }
.tall-xs-545 { height: 545px; }
@media(min-width: 768px) {
	.tall-sm-60 { height: 60px; }
	.tall-sm-140 { height: 140px; }
	.tall-sm-250 { height: 250px; }
	.tall-sm-208 { height: 208px; }
	.tall-sm-300 { height: 300px; }
	.tall-sm-500 { height: 500px; }
	.tall-sm-545 { height: 545px; }
}
@media(min-width: 1032px) {
	.tall-md-60 { height: 60px; }
	.tall-md-140 { height: 140px; }
	.tall-md-250 { height: 250px; }
	.tall-md-208 { height: 208px; }
	.tall-md-300 { height: 300px; }
	.tall-md-500 { height: 500px; }
	.tall-md-545 { height: 545px; }
}

.wide-xs-200 {width: 200px;}

.min-tall-xs-140 { min-height: 140px; }

.fill-xs {height: 100%; width: 100%;}
.fill-xs-Y { height: 100%; }

@media(max-width: 767px) {
	.scroll-xs-x {overflow-x: scroll;}
}

.list-show-15>:nth-child(n+15) { display: none; }
.list-show-8>:nth-child(n+8) { display: none; }
.list-show-5>:nth-child(n+5) { display: none; }
@media(max-width: 767px) {
	.list-show-xs-8>:nth-child(n+8) { display: none; }
}

.col-space-xs-0 { margin-left: 0; margin-right: 0; }
.col-space-xs-0>div { padding-left: 0; padding-right: 0; }
.col-space-xs-8 { margin-left: -4px; margin-right: -4px; }
.col-space-xs-8>div { padding-left: 4px; padding-right: 4px; }
.col-space-xs-15 { margin-left: -7.5px; margin-right: -7.5px; }
.col-space-xs-15>div { padding-left: 7.5px; padding-right: 7.5px; }
.col-space-xs-20 { margin-left: -10px; margin-right: -10px; }
.col-space-xs-20>div { padding-left: 10px; padding-right: 10px; }
.col-space-xs-30 { margin-left: -15px; margin-right: -15px; }
.col-space-xs-30>div { padding-left: 15px; padding-right: 15px; }
.col-space-xs-40 { margin-left: -20px; margin-right: -20px; }
.col-space-xs-40>div { padding-left: 20px; padding-right: 20px; }
@media(min-width: 1032px) {
	.col-space-md-0 { margin-left: 0; margin-right: 0; }
	.col-space-md-0>div { padding-left: 0; padding-right: 0; }
	.col-space-md-8 { margin-left: -4px; margin-right: -4px; }
	.col-space-md-8>div { padding-left: 4px; padding-right: 4px; }
	.col-space-md-15 { margin-left: -7.5px; margin-right: -7.5px; }
	.col-space-md-15>div { padding-left: 7.5px; padding-right: 7.5px; }
	.col-space-md-20 { margin-left: -10px; margin-right: -10px; }
	.col-space-md-20>div { padding-left: 10px; padding-right: 10px; }
	.col-space-md-30 { margin-left: -15px; margin-right: -15px; }
	.col-space-md-30>div { padding-left: 15px; padding-right: 15px; }
	.col-space-md-80 { margin-left: -20px; margin-right: -20px; }
	.col-space-md-49 { margin-left: 49px; }
	.col-space-md-80>div { padding-left: 20px; padding-right: 20px; }
}


.inspace-xs-5 {padding: 5px;}
.inspace-xs-10 {padding: 10px;}
.inspace-xs-15 {padding: 15px;}
.inspace-xs-20 {padding: 20px;}
.inspace-xs-40 {padding: 40px;}

.inspace-xs-N-0 {padding-top: 0px;}
.inspace-xs-N-60 {padding-top: 60px;}

.inspace-xs-S-25 {padding-bottom: 25px;}
.inspace-xs-S-30 {padding-bottom: 30px;}
.inspace-xs-S-50 {padding-bottom: 50px;}

.inspace-xs-NS-10 {padding-top: 10px;padding-bottom: 10px;}
.inspace-xs-NS-20 {padding-top: 20px;padding-bottom: 20px;}
.inspace-xs-NS-40 {padding-top: 40px;padding-bottom: 40px;}

@media(min-width: 768px) {
	.inspace-sm-40 {padding: 40px;}
	.inspace-sm-S-25 {padding-bottom: 25px;}
}

@media(min-width: 1032px) {
	.inspace-md-20 {padding: 20px;}
}

.space-xs-0 {margin: 0;}
.space-xs-40 {margin: 40px;}

.space-xs-N-0 {margin-top: 0px;}
.space-xs-N-7 {margin-top: 7px;}
.space-xs-N-10 {margin-top: 10px;}
.space-xs-N-15 {margin-top: 15px;}
.space-xs-N-20 {margin-top: 20px;}
.space-xs-N-30 {margin-top: 30px;}
.space-xs-N-40 {margin-top: 40px;}
.space-xs-N-60 {margin-top: 60px;}
.space-xs-N-100 {margin-top: 100px;}

.space-xs-N-n7 {margin-top: -7px;}

.space-xs-S-0 {margin-bottom: 0px;}
.space-xs-S-8 {margin-bottom: 8px;}
.space-xs-S-10 {margin-bottom: 10px;}
.space-xs-S-15 {margin-bottom: 15px;}
.space-xs-S-20 {margin-bottom: 20px;}
.space-xs-S-30 {margin-bottom: 30px;}
.space-xs-S-40 {margin-bottom: 40px;}

.space-xs-E-15 {margin-right: 15px;}

.space-xs-W-15 {margin-left: 15px;}

.space-xs-NS-40 {margin-top: 40px;margin-bottom: 40px;}

@media(min-width: 768px) {
	.space-sm-40 {margin: 40px;}
	
	.space-sm-N-0 {margin-top: 0px;}
	.space-sm-N-40 {margin-top: 40px;}
	.space-sm-N-100 {margin-top: 100px;}

	.space-sm-S-0 {margin-bottom: 0px;}
	.space-sm-S-15 {margin-bottom: 15px;}

	.space-sm-W-15 {margin-left: 15px;}
}

@media(min-width: 1032px) {
	.space-md-N-0 {margin-top: 0;}
	.space-md-N-7 {margin-top: 7px;}
	.space-md-S-0 {margin-bottom: 0;}
}

@media(max-width: 767px) {
	.childs-xs-1>div:nth-child(n+2) {display: none;}
	.childs-xs-2>div:nth-child(n+3) {display: none;}
	.childs-xs-3>div:nth-child(n+4) {display: none;}
	.childs-xs-4>div:nth-child(n+5) {display: none;}
}
@media(min-width: 768px) and (max-width: 1031px) {
	.childs-sm-2>div:nth-child(n+3) {display: none;}
	.childs-sm-3>div:nth-child(n+4) {display: none;}
	.childs-sm-6>div:nth-child(n+7) {display: none;}
}
@media(min-width: 1032px) {
	.childs-md-3>div:nth-child(n+4) {display: none;}
	.childs-md-4>div:nth-child(n+5) {display: none;}
	.childs-md-6>div:nth-child(n+7) {display: none;}
}

@media(max-width: 767px) {
	.ratio-xs-4-7 { height: auto !important; padding-bottom: 175%; position: relative; }
	.ratio-xs-40-35 { height: auto !important; padding-bottom: 87.3%; position: relative; }
	.ratio-xs-313-175 { height: auto !important; padding-bottom: 56%; position: relative; }
}

/* MATCH COLUMN HEIGHT */
.match-xs { position: absolute; height: 100%; }
@media(min-width: 768px) {
	.match-sm { position: absolute; height: 100%; }
	.unmatch-sm { position: static; height: auto; }
}
@media(min-width: 1032px) {
	.match-md { position: absolute; height: 100%; }
	.unmatch-md { position: static; height: auto; }
}
@media(min-width: 1200px) {
	.match-lg { position: absolute; height: 100%; }
	.unmatch-lg { position: static; height: auto; }
}
.autoflow {
    overflow: auto;
}


#show-food {
	display: none;
}
.show-food {
	background-color: #C0D5EB;
}
.place {
    border-bottom: 1px solid;
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 7px;
}
.food {
    font-size: 18px;
}
.adress,
.delivery,
.score {font-size: 14px;
}
.food-img {
	border: solid 5px #3C454F;
	max-width: 100%;
	}

p.comments {
  position: relative;
  text-align: center;
  color: #3C454F;
  margin-top: 10px;
	font-size: 16px;
	line-height: 26px;
	padding: 10px 20px;
  background-color: #F2F2F2;
  border: 1px solid #3C454F;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}



/*------------------------------------*\
-------- Page Styles: Accordion
\*------------------------------------*/
body {
	position:relative;
	z-index:0;
}
.main:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	content:'';
	background:-webkit-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-moz-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-o-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
}

.site-header-wrap {
	margin-bottom:60px;
	border-bottom:1px solid #cd9ad6;
}

/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#fff;
	color: #3C454F;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:15px;
	display:inline-block;
	border-bottom:1px solid #1a1a1a;
	background:#333;
	transition:all linear 0.15s;
	/* Type */
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
	color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
	background:#3C454F;
	color:#FF8800;
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}



