.fixed-bottom-button { display: none; }
.active-filters ul { margin-bottom: 0; }
.map-toggle .btn { width: 170px; margin-right: 10px; }
.search-breadcrumb { margin: 7px 0; color: #FFF; }
.results-count { color: #FFF; float: right; line-height: 37px; }

.panel-body.active-filters { font-family: 'Raleway', sans-serif; padding-top: 0 !important; }
.panel-body.active-filters .action-label { background-color: #BBB; }
.panel-body.active-filters .action-label+.action-label { margin-top: 5px; }

.search-results, .search-filters { float: left; height: calc(100% - 111px); }
.search-filters { /*overflow-y: scroll;*/ }

.search-results { width: 72%;
	-webkit-box-shadow: inset 10px 0px 8px -3px rgba(0,0,0,0.18);
	-moz-box-shadow: inset 10px 0px 8px -3px rgba(0,0,0,0.18);
	box-shadow: inset 10px 0px 8px -3px rgba(0,0,0,0.18);
}
.search-results .row { margin-left: -10px; margin-right: -10px; }
.search-results .row>div { padding-left: 10px; padding-right: 10px; }
.search-results-options { text-align: right; }
.search-results-options form, .search-results-options .form-group { margin: 0; }
.search-results-options label { margin-right: 10px; margin-left: 10px; }
.search-results-options label:first-child { margin-left: 0; }
.search-results-options button { width: 170px; text-align: left; }
.search-results-options button .caret-container { position: relative;}
.search-results-options button .caret-container>.caret { position: absolute;top: -11px;right: 0px;}
.search-results-options button .caret { float: right;position: relative;top: 9px;}

.search-filters { width: 28%; color: #000; font-family: 'Open Sans', sans-serif; padding-right: 5px; }
.search-filters em { color: #c1c1c1; }
.search-filters a { color: inherit; }
.search-filters .panel-body ul>li { margin-bottom: 15px; }
.search-filters .panel-title>a:hover, .search-filters .panel-title>a:focus { color: #000; }
.search-filters .panel-title div.checkbox label>span { padding-left: 40px; }
.search-filters-expand { color: #008aff; padding-left: 30px; }
.search-filters-expand:hover,.search-filters-expand:focus { color: #0062B5; }
.search-filters-expand:not(.active)>:last-child { display: none; }
.search-filters-expand.active>:first-child { display: none; }

.main-container { padding-top: 158px; }
.main-container .fixed-toggle { width: 100%; top:0; left: 0; position: absolute;}
.main-container .breadcrumb { top:46px; }

.search-map .map-canvas { height: 100%; z-index: 9; background-color: #c5c5c5; }
.main-container.map-visible, .main-container.filters-visible { z-index: 999; }

.oleo-tabs { line-height: 42px; height: 46px; background-color: #1e1e1e; color: #505050; text-align: center;}
.oleo-tab-logo { background-image: url("https://www.guiaoleo.com.ar/img/logo-oleo-transparent.png");}
.oleo-tab { color: inherit; text-decoration: none; display: inline-block; text-transform: uppercase; font-size: 18px; padding: 0 30px; position: relative; padding-left: 60px; border-bottom: 2px solid transparent; border-top: 2px solid transparent;}
.oleo-tab.active, .oleo-tab:hover { color: #FFF;}
.oleo-tab.active.guide, .oleo-tab:hover.guide { border-bottom-color: #95d273; }
.oleo-tab.active.guide .oleo-tab-logo { background-image: url("https://www.guiaoleo.com.ar/img/logo-oleo-guide.png");}
.oleo-tab:hover.delivery { border-bottom-color: #ffa700;}
.oleo-tab.active.delivery .oleo-tab-logo { background-image: url("https://www.guiaoleo.com.ar/img/logo-oleo-delivery.png");}
.oleo-tab:hover.gift { border-bottom-color: #ddbf76;}
.oleo-tab.active.gift .oleo-tab-logo { background-image: url("https://www.guiaoleo.com.ar/img/logo-oleo-gifts.png");}
.oleo-tab-logo {  width: 22px; display: inline-block; background-repeat: no-repeat; position: absolute; height: calc(100% - 3px); background-position: center center;  left: 30px; top: 0;}
.header-banner { background: #000; color: #9c9c9c; text-align: center; font-size: 14px; line-height: 58px; height: 58px; overflow: hidden;}

@media(min-width: 768px) {
	.map-close {display: none;}
	.main-container.map-visible { top: 0!important; }
	.main-container.map-visible .search-map { position: fixed;width: 100%; height: calc(100% - 111px); z-index: 9; }
	.search-map { height: 0; -webkit-transition: height 400ms ease-out; -moz-transition: height 400ms ease-out; -ms-transition: height 400ms ease-out; -o-transition: height 400ms ease-out; transition: height 400ms ease-out; }
}
@media(max-width: 767px) {
	.results-count { position: absolute; top: calc(100% + 5px); color: #000; width: 100%; left: 0; text-align: center; }
	.search-map {position: fixed; -webkit-transition: right 400ms ease-out; -moz-transition: right 400ms ease-out; -ms-transition: right 400ms ease-out; -o-transition: right 400ms ease-out; transition: right 400ms ease-out;width: 100%;height: 100%;top: 0px;z-index: 999999;right: -100%;}
	.search-map .map-canvas {width: 100%;margin-left: auto;}
	.main-container .breadcrumb { top:40px; }
	.main-container.map-visible .search-map { right: 0; }
	.map-close { position: absolute; z-index: 999999;background-color: #FFFFFF; right: 0;margin: 9px;width: 34px;height: 34px;text-align: center;box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);}
	.map-close .close { opacity: 1;color: #b22222;font-size: 40px; float: none;display: block;height: 100%;line-height: 27px;}
	.oleo-tabs { line-height: 36px; height: 40px; white-space: nowrap; overflow: hidden; }
  	.oleo-tab { font-size: 12px; padding: 0; width: calc(33.33% - 2px); margin: 0; padding-left: 42px; text-align: left;}
  	.oleo-tab-logo { left: 10px; background-size: 75%; }
  	.fixed-layout>.breadcrumb { top: 40px !important; }
}

@media(min-width: 1199px) {
	.search-results .container { max-width: 1080px; margin-left: 0; }
	.search-filters .panel-heading, .search-filters .panel-body { max-width: 395px; margin-right: 0; margin-left: auto; }
}

@media(max-width: 1031px) {
	.main-container { padding-left: 0; }
	.search-results { width: auto; float: none; height: auto; }
	@media(min-width: 768px) {
		.search-results-options button { width: 155px; }
		.search-filters { position: absolute; z-index: 999; background-color: #FFF; width: 390px; left: -390px; padding: 30px 5px; box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5); -webkit-transition: left 400ms ease-out; -moz-transition: left 400ms ease-out; -ms-transition: left 400ms ease-out; -o-transition: left 400ms ease-out; transition: left 400ms ease-out; }
		.search-filters .panel { padding-right: 30px; padding-left: 30px; }
		.filters-visible .search-filters { left: 0; }
		.btn-filter-md-container { position: relative; padding-left: 100px; }
		.btn-filter-md-container .visible-sm { position: absolute; left: 0; height: 100%; width: 100px; top: 0; }
		.btn-filter-md-container .visible-sm a { background-color: #A3E186; color: #FFF; height: 100%; display: inline-block; width: 100%; text-align: center; line-height: 54px; }
	}
}

@media(max-width: 767px) {
	.main-container { padding-top: 185px; }
	.search-filters { display: none; z-index: 99999999; padding-right: 0;top: 0; width: 100%; background-color: #FFF; position: fixed;height: 100%;padding-top: 40px;padding-bottom: 75px;}
	.filters-visible .search-filters { display: block; overflow: auto; overflow-x: scroll; }
	.fixed-bottom-button { display: block; }
	.search-results-options { text-align: left; padding-top: 40px; }
	.search-results-options .form-group { position: relative; }
	.search-results-options label { position: absolute; top: -25px;margin: 0;}
	.search-results-options label:first-child { margin-left: 5px; }
	.search-results-options label:last-of-type { left: 50%;margin-left: 10px;}
	.search-results-options button { width: 100%; text-align: left; }
	.search-results-options .dropdown {width: calc(50% - 7px);margin-right: 5px;}
	.search-results-options .dropdown:last-of-type { margin-right: 0;margin-left: 5px;}
	.fixed-bottom-button .btn { font-size: 1.2em; width: calc(50% - 8px); margin-right: 6px; }
	.fixed-bottom-button .btn+.btn { margin-right: 0; margin-left: 6px; }
	.search-results { padding-bottom: 50px; }
	.search-filters-title { background-color: #313131; color: #A3E186; text-align: center; font-size: 1.5em; padding: 5px 0;position: fixed;width: 100%;top: 0;z-index: 9;}
	.search-filters-actions { position: fixed; bottom: 0; margin: 0; background-color: #FFF; padding: 20px 15px; border-top: 1px solid #DADADA; width: 100%; }
	.search-filters-actions .btn { width: calc(50% - 8px); margin-right: 6px; }
	.search-filters-actions .btn+.btn { margin-right: 0; margin-left: 6px; }
}
